body {
    padding-top: 70px;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

a[href^="http://"]:after, 
a[href^="https://"]:after {
	content: url(/css/link-externo.png);
	margin: 0 0 0 5px;
}